<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="modal-1">
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h4 id="modal-1-title">
            <%= Spree.t(:login) %>
          </h4>
          <button class="modal__close" aria-label="Close modal" data-custom-close="modal-1"></button>
        </header>
        <div class="modal__content" id="modal-1-content">
          <%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
            <fieldset id="password-credentials">
              <div class="form-group has-float-label">
                <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
                <%= f.label :email do %>
                 <span><%= Spree.t(:email) %><abbr class="required" title="required">*</abbr></span>
                <% end %>
              </div>
              <div class="form-group has-float-label">
                <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password) %>
                <%= f.label :password do %>
                 <span><%= Spree.t(:password) %><abbr class="required" title="required">*</abbr></span>
                <% end %>
              </div>
              <div class="checkbox shim">
                  <%= f.check_box :remember_me %>
                  <br />
                  <%= f.label :remember_me, Spree.t(:remember_me) %>
              </div>
              <div class="form-group">
                <%= f.submit Spree.t(:login), class: 'btn btn-lg btn-success btn-block', tabindex: 3 %>
              </div>
            </fieldset>
          <% end %>
          <div class="text-center">
            <%= Spree.t(:or) %>
          </div>
          <div class="text-center">
                <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
                <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
          </div>
        </div>

      </div>
    </div>
  </div>
<script>
  MicroModal.init({
  openTrigger: 'data-custom-open', // [3]
  closeTrigger: 'data-custom-close', // [4]
  disableScroll: true, // [5]
  disableFocus: false, // [6]
  awaitCloseAnimation: false, // [7]
  debugMode: true // [8]
});
</script>
