<dt id="accordion_show_hide" class="inner-section-right">
  <div class="js-badger-accordion-header">
    <div class="text-left badger-accordion__trigger-title">
      <h4  style="margin:0; cursor: pointer;">
        <span class="chevron"></span>
          <span class="show-summary"><%= Spree.t(:show) %></span>
          <span class="hide-summary"><%= Spree.t(:hide) %></span>
          <%= Spree.t(:order_summary) %>
      </h4>
    </div>
    <div class="text-right">
      <h4 style="margin:0; cursor: pointer;"><strong><span class="order-total summary_adjustments"><%= order.display_total.to_html %><span></strong></h4>
    </div>
  </div>
</dt>

<dd class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden">
  <div id="checkout-summary-inner" class="js-badger-accordion-panel-inner inner-section-right">
    <div id="cart-line-items">
        <% order.line_items.each do |item| %>
            <div>
              <% variant = item.variant %>
              <% if variant.images.length == 0 %>
                <%= image_tag product_image(variant.product) %>
              <% else %>
                <div class="checkout-product-image">
                  <span class="product-thumbnail__quantity" aria-hidden="true"><%= item.quantity %></span>
                  <%= image_tag(main_app.url_for(variant.images.first.url(:product)), alt: item.name) %>
                </div>
              <% end %>
            </div>
            <div class="text-left">
              <strong><%= item.name %></strong>
              <%= "<br />".html_safe + "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
              <br>
              <%= item.single_money %>
            </div>
            <div data-hook="order_item_total" class="text-right"><%= item.display_amount %></div>
        <% end %>
    </div>
    <hr />
    <div class="summary_adjustments">
      <%= render partial: "summary_adjustments", locals: { order: order }  %>
    </div>
  </div>
</dd>
