<% @body_id = 'checkout-page' %>

<div id="checkout-header">
  <div class="inner-section-left">
    <div style='max-width:140px; margin: 0px auto 5px; text-align:center;'>
      <%= logo %>
    </div>
    <div id="checkout-progress" class="medium_down_hide" data-hook="checkout_header">
      <%= checkout_progress %>
    </div>
  </div>
</div>

<% if @order.state != 'confirm' %>
    <div id="checkout-summary" class="js-badger-accordion" data-hook="checkout_summary_box">
          <%= render partial: 'summary', locals: { order: @order } %>
    </div>
<% end %>

<div id="checkout">
  <div class="inner-section-left">

    <%= render partial: 'spree/checkout/info' %>
      <div class="grid">
          <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
          <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
            <% if @order.state == 'address' || !@order.email? %>
              <% if spree_current_user %>
              <div>
                <h4><%= Spree.t(:contact_information) %></h4>
                <span class="grey"><%= @order.name %> (<%= @order.email%>) <%= link_to Spree.t(:logout), spree.logout_path %></span>
              </div>
              <% else %>
                <div class="contact_login">
                  <h4 class="_fr2"><%= Spree.t(:contact_information) %></h4>
                  <span class="text-right grey" data-custom-open="modal-1"><span class="small_hide"><%= Spree.t(:already_have_an_acount) %> </span><span class="link_color"><%= Spree.t(:login) %></span></span>
                </div>
                <div class="has-float-label">
                  <%= form.email_field :email, placeholder: "#{Spree.t(:email)}", class: 'form-control', id: 'email', required: true %>
                  <%= form.label :email %>
                  <span id="result"></span>
                </div>
              <% end %>
          <% end %>

          <%= form.hidden_field :state_lock_version %>
            <%= render @order.state, form: form %>
          <% end %>
      </div>
      <div id="checkout-footer">
        <a aria-haspopup="dialog" data-modal="policy-992873" data-title-text="Refund policy" data-close-text="Close" data-iframe="true" href="/2676031/policies/992873.html">Refund policy</a>
        <a aria-haspopup="dialog" data-modal="policy-992875" data-title-text="Privacy policy" data-close-text="Close" data-iframe="true" href="/2676031/policies/992875.html">Privacy policy</a>
        <a aria-haspopup="dialog" data-modal="policy-992877" data-title-text="Terms of service" data-close-text="Close" data-iframe="true" href="/2676031/policies/992877.html">Terms of service</a>
      </div>

    </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.token %>"
  new BadgerAccordion('.js-badger-accordion', {
  });

<% if @order.state == "address"%>
    <% unless spree_current_user  %>
      $(function() {
        function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        }

        function validate() {
          var $result = $("#result");
          var email = $("#email").val();
          $result.text("");

          if (validateEmail(email)) {
          } else {
            $result.text(email + " is not a valid email address");
            $result.css("color", "red");
            return false;
          }

        }
        $("#address-form-button").on("click", validate);
      });
    <% end %>
<% end %>
</script>

<% if @order.state == 'address' %>
  <%= render partial: 'spree/checkout/login' %>
<% end %>
