<% @body_id = 'checkout-page' %>

<div id="checkout-header">
  <div class="inner-section-left">
    <div style='max-width:140px; margin: 0px auto 5px; text-align:center;'>
      <%= logo %>
    </div>
    <div id="checkout-progress" data-hook="checkout_header">
      <%= checkout_progress %>
    </div>
  </div>
</div>

<div id="checkout-main">
  <div class="inner-section-left">
    <%= render partial: 'spree/checkout/info' %>
    <% if @order.state == 'payment' %>
    <div id="payment_additional_discount_box">
      <h4><%= Spree.t(:coupon_code) %></h4>
      <% if Spree::Frontend::Config[:coupon_codes_enabled] %>
        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "coupon_code_pay" }, remote: true do |form| %>
        <div id="discount-apply_pay">
            <div class="form-group has-float-label">
              <%= form.text_field :coupon_code, placeholder: "#{Spree.t(:coupon_code)}", class: 'form-control', id: 'coupon_box_pay' %>
              <%= form.label Spree.t(:coupon_code) %>
              <%= button_tag Spree.t(:coupon_code_apply), class: 'coupon_button btn btn-default' %>
            </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
<div class="grid">
      <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
      <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>

    <% if @order.state == 'address' || !@order.email? %>
      <% if spree_current_user %>
      <div>
        <h4><%= Spree.t(:contact_information) %></h4>
        <span class="grey"><%= @order.name %> (<%= @order.email%>) <%= link_to Spree.t(:logout), spree.logout_path %></span>
      </div>
      <% else %>
        <div class="contact_login">
          <h4 class="_fr2"><%= Spree.t(:contact_information) %></h4>
          <span class="text-right grey" data-custom-open="modal-1"><span class="small_hide"><%= Spree.t(:already_have_an_acount) %> </span><span class="link_color"><%= Spree.t(:login) %></span></span>
        </div>
        <div class="has-float-label">
          <%= form.email_field :email, placeholder: "#{Spree.t(:email)}", class: 'form-control', required: true %>
          <%= form.label :email %>
        </div>
      <% end %>
    <% end %>

    <%= form.hidden_field :state_lock_version %>
      <%= render @order.state, form: form %>
    <% end %>
</div>
      <div id="checkout-footer">
        <a aria-haspopup="dialog" data-modal="policy-992873" data-title-text="Refund policy" data-close-text="Close" data-iframe="true" href="/2676031/policies/992873.html">Refund policy</a>
        <a aria-haspopup="dialog" data-modal="policy-992875" data-title-text="Privacy policy" data-close-text="Close" data-iframe="true" href="/2676031/policies/992875.html">Privacy policy</a>
        <a aria-haspopup="dialog" data-modal="policy-992877" data-title-text="Terms of service" data-close-text="Close" data-iframe="true" href="/2676031/policies/992877.html">Terms of service</a>
      </div>
    </div>
</div>

<% if @order.state != 'confirm' %>
    <div id="checkout-summary" class="js-badger-accordion" data-hook="checkout_summary_box">
          <%= render partial: 'summary', locals: { order: @order } %>
    </div>
<% end %>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.token %>"
  new BadgerAccordion('.js-badger-accordion', {
  });

  $(function() {
    setTimeout(function(){
      $('.alert').fadeOut(800);
    }, 4000);
  });
</script>
<% if @order.state == 'address' %>
  <%= render partial: 'spree/checkout/login' %>
<% end %>
